.axuxiliumMobilAppSlide {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.axuxiliumMobilAppSlide h1 {
  margin: 0;
  font-size: clamp(34px, 6vw, 84px);
  color: #eef5ff;
  text-align: center;
}
