.bioBacSlide {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(97, 67, 26, 0.96);
}

.bioBacSlide h1 {
  margin: 0;
  font-size: clamp(40px, 7vw, 94px);
  color: #eef5ff;
}
