@use "./(pages)/home/page.scss";
@use "./components/HeroHeader/heroHeader.scss";
@use "./components/HeroFullscreenSlide/heroFullscreenSlide.scss";
@use "./components/AboutUsSlide/aboutUsSlide.scss";
@use "./components/ContactUsSlide/contactUsSlide.scss";
@use "./components/CVSlide/CVslide.scss";
@use "./components/OurProjectsSlide/ourProjectsSlide.scss";

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d0b2b;
}
