.curavelSlide {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  place-items: center;
}

.curavelSlide h1 {
  margin: 0;
  font-size: clamp(40px, 7vw, 94px);
  color: #eef5ff;
}
