.curavelSlide {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 130px;
  position: absolute;
  border: 1px solid red;

  & > .curavelInfoSide{
    width: 45%;
    height: 100%;
    border: 1px solid red;
  }

  & > .curavelPicturesSide{
    width: 55%;
    height: 100%;
    border: 1px solid red;
  }
}

.curavelSlide h1 {
  margin: 0;
  font-size: clamp(40px, 7vw, 94px);
  color: #eef5ff;
}
